<header class="main-header">
<nav class="main-header__nav">
    <ul class="main-header__item-list">
    <% if(role === 'seller') { %>
        <li class="main-header__item"><a class="<%= path === '/seller/product-list' ? 'active' : ''  %>" href="/seller/product-list">My Products</a></li>
        <li class="main-header__item"><a class="<%= path === '/seller/add-product' ? 'active' : ''  %>" href="/seller/add-product">Add Product</a></li>
        <li class="main-header__item"><a href="/">Buyer Home</a></li>
    <% } else if (role === 'buyer') { %>
    <li class="main-header__item"><a class="<%= path === '/' ? 'active' : ''  %>" href="/">Home</a></li>
    <li class="main-header__item"><a class="<%= path === '/shop' ? 'active' : ''  %>" href="/shop">Shop</a></li>
    <li class="main-header__item"><a class="<%= path === '/cart' ? 'active' : ''  %>" href="/cart">Cart</a></li>
    <li class="main-header__item"><a class="<%= path === '/orders' ? 'active' : ''  %>" href="/orders">Orders</a></li>
    <li class="main-header__item"><a href="/seller/product-list">Seller Dashboard</a></li>
    <% } %>
    </ul>
</nav>
</header>