<% include ../includes/header %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <% include ../includes/nav %>

    <main>
        <% if(prods.length > 0) { %>
            <h1>My Products</h1>
            <div class="grid">
                <% for (var i = 0; i < prods.length; i++) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= prods[i].title %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= prods[i].imgUrl %>" alt="<%= prods[i].title %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">₱<%= prods[i].price %></h2>
                        <p class="product__description"><%= prods[i].desc %></p>
                    </div>
                    <div class="card__actions">
                        <a class="btn" href="/seller/edit-product/<%= prods[i].id %>?edit=true">Edit</a>
                        <form action="/seller/delete-product" method="POST">
                        <input type="hidden" name="id" value="<%= prods[i].id %>">
                            <button class="btn">Delete</button>   
                        </form>
                        
                    </div>
                </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No products found...</h1>
        <% } %>
    </main>
<% include ../includes/footer %>